// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_in {
  margin-top: 20px;
}
.users {
  .form-inline {
    margin-bottom: 20px;
    .form-group {
      margin-right: 10px;
    }
    p {
      padding-left: 10px;
    }
  }
}
.tabbed_hr {
  margin-top: 0px;
  border-top: 3px solid #dff0d8;
}

.tabs {
  .selected {
    background-color: #dff0d8;
  }
}
